/* Small Reset */
*::before, *::after, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* All Boxes */

.box {
  width: 400px;
  height: 300px;
  border: solid 1px black;
  margin: 1rem;
}

/* Basic Example */

.basic {
  background: linear-gradient(to right, red, blue) ;
}

/* Example with stops */

.stops {
  background: linear-gradient(
    to right, 
    red 20%, 
    orange 20% 40%, 
    yellow 40% 60%, 
    green 60% 80%, 
    blue 80%
  )
}